/** imports **/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap'));
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/** inicio config global **/

body, p, h1, ul, li, blockquote {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/** fim config global **/

/** estrutura grid geral **/

.estrutura {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 68.5px auto;
  grid-template-areas: 
    "sidenav header"
    "sidenav content"
    "sidenav footer"
  ;
}

/** fim estrutura grid geral **/

/** inicio header **/

.header {
  grid-area: header;
  background: #FDF1EB;
  padding: 7.5px;
  color:#725C5C;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.header-content-text {
  display: flex;
  flex-direction: column;
}

.header-fake-button {
  align-self: center;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 3px;
  width: 100px;
  text-align: center;
}

.header-fake-button i {
  margin: 8px 8px;
}

.header-content img {
  height: 35px;
  border-radius: 50%;
  margin-top: 10px;
}

.header-content p {
  margin-top: 8px;
}

/** fim header **/

/** começo sidenav **/

.sidenav {
  grid-area: sidenav;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidenav-logo {
  text-align: center;
  padding: 0.5px;
  color: white;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.sidenav img {
  height: 230px;
  width: 200px;
  margin-left: 15px;
}

.sidenav ul li {
  padding: 12px;
  border-bottom: 2px solid #E5E5E5;
}

.sidenav ul li a, a:visited, a:link, a:active {
  font-weight: 500;
  font-size: 15px;
  color: #725C5C;
  text-decoration: none;
}

.sidenav ul li:hover {
  background: #FDF1EB;
  border-left: 5px solid #ED7839;
}

/** fim sidenav **/

/** inicio content **/

.content {
  grid-area: content;
  margin: 15px;
}

.content-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3.7rem;
  max-width: 78%;
}

.content-titulo h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ED7839;
  max-width: 50%;
}

.content-titulo button {
  background: #ED7839;
  border-radius: 4px;
  border: none;
  color: white;
  height: 35px;
  margin-right: 10px;
}

/** inicio botão download **/

.content-titulo .content-button-download {
  width: 315px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 18rem;
}

/** fim botão download **/

/** inicio botão favorito **/

.content-titulo .content-button-favorite {
  width: 50px;
  font-size: 16px;
}

/** fim botão favorito **/

/** inicio botao doi **/

.content-titulo .content-button-doi {
  width: 50px;
  margin-right: 100px;
}

.content-button-doi img {
  width: 22px;
  margin-top: 2px;
}

/** fim botão doi **/

/** inicio video overlay e detalhes **/

.video-overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20.5rem;
  max-width: 100%;
}

.box-detalhes-video small {
  color: rgba(114, 92, 92, 0.5);
}

.box-detalhes > p {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ED7839;
}

.box-detalhes-video {
  border: 1px solid #FDF1EB;
  height: 90%;
  margin-right: 8px;
}

.box-detalhes-content {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.03em;
  width: 250px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  color: #5C5C5C;
}

.box-detalhes h3 {
  background: #FDF1EB;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  margin: 0;
  padding: 10px;
}

.box-detalhes h4 {
  margin-bottom: 5px;
}

.box-detalhes-video p {
  padding-top: 6px;
}

/** fim overlay video overlay e detalhes */

/** inicio painel resumo */

.content-top-resumo {
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 91%;
}

.content-resumo-titulo h3 {
  background: #FDF1EB;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  margin: 0;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.content-resumo {
  margin: 10px;
  font-family: 'Quicksand', sans-serif; 
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5C5C5C;
}

.content-resumo > p {
  max-width: 90%;
}

/** fim painel resumo **/

/** inicio painel discussões **/

.container-discussoes {
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  max-width: 91%;
}

.content-discussoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-discussoes > h3 {
  background: #FDF1EB;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  margin: 0;
  padding: 10px;
  max-width: 100%;
}

.criar-topico-discussoes h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 21px;
  color: #ED7839;
  text-align: center;
  max-width: 86%;
}

.criar-topico-discussoes .content-icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  margin: 45px 0 45px 275px;
}

.criar-topico-discussoes blockquote {
  max-width: 70%;
  margin-left: 150px;
  margin-bottom: 20px;
}

.criar-topico-discussoes hr {
  max-width: 70%;
  border: 1px solid #E7E7E7;
}

.content-button {
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 4px;
  color: white;
  height: 35px;
  width: 120px;
  font-weight: bold;
  transform: translateY(-28px);
  margin-left: 38%;
}

/** fim painel discussões **/

/** inicio painel cards **/

/** three dots **/

.three-dots {
  color: #ED7839;
  font-size: 30px;
  font-weight: bold;
}

.topicos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicos-card .card {
  border: 1px solid black;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card {
  text-align: left;
  padding: 25px;
  margin: 15px;
  max-width: 90%;
}

.card-options {
  margin-top: 10px;
  display: flex;
  max-width: 15%;
  justify-content: space-between;
}

.card-likes, .card-replies {
  margin-top: 10px;
}

.card p {
  margin: 5px 0 3px 1px;
}

.card button {
  background: #ED7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: none;
  width: 30px;
  height: 20px;
  color: white;
  margin-top: 10px;
}

.card-heart {
  font-size: 18px;
}

.topicos-card h3 {
  font-family: 'Quicksand', sans-serif;
  margin: 2px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #ED7839;
}

.topicos-card small {
  font-family: 'Quicksand', sans-serif;
  margin-left: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #5C5C5C;
}

/** fim painel card **/

/** inicio footer **/

.footer img {
  height: 12rem;
  margin: 18px auto;
}

/* .footer-wrapper {
  display: flex;
  justify-self: space-around;
  align-self: space-between;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "footer footer footer";
  margin-left: 55px;
}

.footer-logo {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.footer-logo h2 {
  margin: 0;
  font-size: 86px;
  color: #341947;
  margin-left: 8px;
}

.footer-logo span {
  font-size: 18px;
  font-weight: bold;
  color: #624D71;
  margin-left: 24px;
}

.footer-logo button {
  background: #71478E;
  color: white;
  border: none;
  border-radius: 5px;
  max-width: 58%;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.15em;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.footer-texto {
  text-align: left;
  margin-top: 25px;
  margin-right: 25px;
} */

/** fim footer **/

/** css resumo expandido **/

.ler-mais {
  display: none;
}

.toggle-ver-mais {
  cursor: pointer;
}

/** fim css resumo expandido **/

/** inicio tópico expandido **/

.card-expandido {
  display: none;
}

.card-replies-expandido {
  background: #F8F8F8;
  font-family: 'Quicksand', sans-serif;
  padding: 25px;
  max-width: 90%;
  margin-right: 74px;
  font-size: 16px;
  color: #4D4D4D;
  margin-left: 70px;
  border-right: 1px solid rgba(10, 10, 10, 0.1);
  border-left: 1px solid rgba(10, 10, 10, 0.1);
  border-top: 1px solid rgba(10, 10, 10, 0.1);
}

.card-replies-toggle {
  cursor: pointer;
}

.card-replies-expandido p {
  margin-top: 20px;
  max-width: 96%;
  line-height: 20px;
}

.autor {
  margin-left: 65rem;
  color: #EE7A3A;
  font-weight: bold;
  font-size: 18px;
}

.autor i {
  margin-left: 15px;
}

.coautor {
  margin-left: 61.2rem;
  color: #EE7A3A;
  font-weight: bold;
  font-size: 18px;
  border-top: none;
}

.coautor i {
  margin-left: 15px;
}

/** fim tópico expandido **/

/** inicio criar tópico **/

.toggle-topico-discussoes {
  display: none;
}

.criando-topico-discussoes {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 90px
}

.criando-topico-form strong {
  font-size: 20px;
}

.criando-topico-discussoes small {
  display: flex;
  justify-content: center;
  margin-right: 150px;
  margin-bottom: 20px;
}

.criando-topico-form input {
  width: 89.5%;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 15px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
}

.criando-topico-form textarea {
  width: 89.65%;
  margin-top: 12px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
}

.criando-topico-ferramentas {
  max-width: 90%;
  background: #EAF1F2;
  border: 1px solid #CCCCCC;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.criando-topico-ferramentas button {
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border-radius: 0px 0px 4px 0px;
  border: none;
  width: 180px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
}

.bold {
  transform: translateY(5px)
}

.bold, .italic {
  margin-left: 25px;
}

/** fim criar tópico **/

/** inicio topico criado **/

.topico-criado-wrapper {
  display: none;
}

.topico-criado {
  max-width: 90%;
  text-align: center;
}

.topico-criado-titulo {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ED7839;
  margin-bottom: 20px;
}

.topico-criado-texto {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #595959;
  margin-bottom: 20px;
}

.topico-criado a {
  color: #ED7839;
  text-decoration: underline;
  font-weight: bold;
}

.topico-criado button {
  margin-top: 5px;
  transform: translateY(25px);
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
  height: 35px;
  width: 170px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.topico-criado hr {
  max-width: 70%;
  border: 1px solid #E7E7E7;
}

.topico-feedback {
  max-width: 85%;
  margin-top: 35px;
  margin-left: 100px;
  padding: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #DDDDDD;
}

.topico-feedback i {
  margin-bottom: 15px;
  font-size: 25px;
}

.topico-feedback p {
  margin-bottom: 15px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
}

.topico-feedback span {
  margin-bottom: 15px;
  text-decoration: underline;
  color: #ED7839;
  font-weight: bold;
}

/** fim topico criado **/